.card {
    width: 3.5rem;
    box-shadow: 2px 2px 1px 2px rgb(17, 17, 17);
    border-radius: 5px;
    cursor: pointer;
    
}

.player-2-hand, .player-3-hand, .player-4-hand {
    .card {
        width: 2.5rem;
    }
}


.player-1-hand {

    .card {
        /* border: 3px solid black;
        border-radius: 8px; */
        /* box-shadow: 1px 1px 10px rgba(5, 5, 5, 0.407); */
     
        /* width: 14%; */
        transition: all 0.2s linear;
    }

    .card:hover {
        transform: translate(0, -20%);
    }
}

.player-2-hand {

    /* .card {
        width: 3rem;
        
    } */

    .card:nth-child(1) {
        position: absolute;
    }
    .card:nth-child(2) {
        position: absolute;
        top: 10%;
    }
    .card:nth-child(3) {
        position: absolute;
        top: 20%;
    }
    .card:nth-child(4) {
        position: absolute;
        top: 30%;
    }
    .card:nth-child(5) {
        position: absolute;
        top: 40%;
    }


    /* display: flex;
    flex-direction: column; */
}

.player-3-hand {

    /* .card {
        width: 2.5rem;
        transition: all 0.2s linear;
    } */
}

.player-4-hand {

    /* .card {
        width: 3rem;
        
    } */

    .card:nth-child(1) {
        position: absolute;
    }
    .card:nth-child(2) {
        position: absolute;
        top: 10%;
    }
    .card:nth-child(3) {
        position: absolute;
        top: 20%;
    }
    .card:nth-child(4) {
        position: absolute;
        top: 30%;
    }
    .card:nth-child(5) {
        position: absolute;
        top: 40%;
    }


    /* display: flex;
    flex-direction: column; */
}

.player-1-card, .player-2-card, .player-3-card, .player-4-card {
    .card {
        box-shadow: 2px 2px 1px 2px black;
        border-radius: 3px;
    }
    
}