.currentPlayer {
  background-color: yellow;
  animation: currentPlayer 2.5s linear infinite;
}

.trumpSuits {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.55em;
  cursor: pointer;
  max-width: 2rem;
  transition: all 0.2s linear;
}

.trumpSuits:hover {
  transform: scale(120%);
  background-color: rgb(250, 222, 145);
}

.startNewGame {
  position: absolute;
  top: 47%;
  left: 39%;
  padding: 2%;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}

.startNewGame:hover {
  background-color: rgb(253, 255, 216);
}

@keyframes currentPlayer {
  0% {
    background-color: rgba(237, 237, 237, 0.3);
  }
  50% {
    background-color: rgba(237, 237, 237, 0.1);
  }
  100% {
    background-color: rgba(237, 237, 237, 0.3);
  }
}

.player-1-hand {
  position: absolute;
  bottom: 5%;
  left: 25%;
  z-index: 9;
  display: flex;
  /* justify-content: right; */
}

#player-1-label,
#player-2-label,
#player-3-label,
#player-4-label {
  color: rgb(186, 186, 186);
  text-shadow: 1px 2px 1px black;
  font-size: 0.8rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: absolute;
  padding: 0.5rem;
  border-radius: 15px;
}

#player-1-label {
  bottom: 8%;
  left: 15%;
}

#player-2-label {
  top: 33%;
  left: 13%;
}

#player-3-label {
  top: 21.5%;
  left: 23%;
}

#player-4-label {
  top: 33%;
  left: 79%;
}

.player-2-hand {
  position: absolute;
  top: 40%;
  left: 15%;
  width: 10%;
  height: 50%;
}

.player-3-hand {
  position: absolute;
  top: 16%;
  left: 35%;
}

.player-4-hand {
  position: absolute;
  top: 40%;
  right: 10%;
  width: 10%;
  height: 50%;
}

.endgame {
  position: absolute;
  top: 35%;
  left: 36%;
  font-size: 2rem;
  font-weight: bold;
  z-index: 10;
}

.winner {
  animation: winner 2s linear infinite, popIn 0.2s linear;
}

.loser {
  color: rgb(115, 115, 200);
  animation: loser 2s linear infinite, popIn 0.2s linear;
}

@keyframes popIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes winner {
  0% {
    color: red;
  }
  33% {
    color: yellow;
    transform: scale(120%);
  }
  66% {
    color: rgb(216, 72, 170);
  }
  100% {
    color: red;
  }
}
