.message {
    position: absolute;
    display: flex;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 1px rgb(0, 0, 0);
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 80%;
    left: 5%;
    z-index: 10;
    border: 2px solid white;
    font-size: 0.8rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    padding: 5% 8%;
    height: 8%;
    width: 10%;
    animation: fade 3s linear infinite;
}

@keyframes fade {
    0% { background-color: rgba(223, 223, 223, 0.8); }
    50% { background-color: rgba(233, 233, 233, 0.5);}
    100% { background-color: rgba(223, 223, 223, 0.8); }
}