.message {
    position: relative;
    display: flex;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 1px rgb(0, 0, 0);
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 48%;
    left: 30%;
    z-index: 10;
    border: 2px solid white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8rem;
    padding: 1%;
    height: 8%;
    width: 10%;
    /* background-color: rgba(255,255,255,0.5); */
    animation: wink 2s linear infinite;
}

@keyframes wink {
    0% { background-color: rgba(255, 214, 133, 0.8); }
    50% { background-color: rgba(255, 214, 133, 0.5);}
    100% { background-color: rgba(255, 214, 133, 0.8); }
}