.message {
    position: absolute;
    display: flex;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 1px rgb(0, 0, 0);
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 80%;
    left: 5%;
    z-index: 10;
    border: 2px solid white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    padding: 5% 8%;
    height: 8%;
    width: 10%;
    animation: fade 2s linear infinite;
}

@keyframes fade {
    0% { background-color: rgba(255, 214, 133, 0.8); }
    50% { background-color: rgba(255, 214, 133, 0.5);}
    100% { background-color: rgba(255, 214, 133, 0.8); }
}