.player-1-prompt {
  position: absolute;
  top: 67%;
  left: 33%;
  width: 35%;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
}

.prompt {
  background-color: rgb(255, 247, 176);
  padding: 4%;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.15s linear;
}

.prompt:hover {
  background-color: rgb(220, 184, 112);
  transform: scale(120%);
}

.player-2-prompt {
  position: absolute;
  top: 50%;
  left: 3%;
}

.player-3-prompt {
  position: absolute;
  top: 15%;
  left: 68%;
}

.player-4-prompt {
  position: absolute;
  top: 50%;
  left: 88%;
}

.player_1_is_dealer,
.player_2_is_dealer,
.player_3_is_dealer,
.player_4_is_dealer {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: absolute;
  width: 4rem;
  padding: 1%;
  border-radius: 20px;
  text-align: center;
  font-size: 0.9rem;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.459);
}

.player_1_is_dealer {
  top: 80%;
  left: 78%;
}

.player_2_is_dealer {
  top: 28%;
  left: 12%;
}

.player_3_is_dealer {
  top: 16%;
  left: 23%;
}

.player_4_is_dealer {
  top: 28%;
  left: 78%;
}
