.trick {
    position: absolute;
    width: 50%;
    height: 45%;
    top: 30%;
    left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(128, 111, 91);
    background-color: rgb(36, 25, 9);
    border-radius: 25px;
    color: white;

    

}

.card {
    width: 5rem;
}

/* this isnt working yet */
.player-1-card {
    position: absolute;
    bottom: 1rem;
    left: 10rem;
    
}

.player-2-card {
    position: absolute;
    bottom: 4.5rem;
    left: 4.5rem;
    
}

.player-3-card {
    position: absolute;
    top: 1rem;
    left: 10rem;
    
}

.player-4-card {
    position: absolute;
    bottom: 4.5rem;
    right: 4.5rem;
    
}