body {
  background-color: rgb(7, 39, 7);
}

.scoreboard {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding: 1%;
  font-size: 70%;
  height: 20%;

}

.scores {
  padding: 1%;
  display: flex;
  justify-content: space-between;
}

.tricks {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

