body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  /* height: 36rem; */
  margin: 1rem;
  background-color: rgb(205, 204, 204);
  justify-content: center;
}

.game {
  z-index: 0;
  background-color: rgb(10, 45, 10);
  width: 40rem;
  height: 36rem;
  border: 3px solid rgb(12, 12, 12);
  border-radius: 25px;
  box-shadow: -15px -15px 3px rgb(238, 238, 238), 15px 15px 3px rgb(80, 80, 80);
  position: relative;
  margin-bottom: 4em;
}

p {
  margin: 0;
}

@media screen and (max-width: 767px) {
  #root {
    width: 100%;
  }

  body {
    margin: 0;
    padding: 0;
  }
  .game .scoreboard-container {
    width: 100%;
    .total_scores,
    .round-scoreboard {
      width: 90%;
    }
  }

  .game {
    width: 100%;
    height: 100vh;
    border-radius: 0px;
    margin-bottom: 0;
  }

  .game .player-1-hand {
    display: flex;
    bottom: 13%;
    width: 95%;
    align-items: center;
    justify-content: center;
    left: 2%;
  }

  .player-1-hand .card {
    max-width: 3.9rem;
  }

  .game .trick {
    height: 19rem;
    min-width: 65%;
    top: 20%;
    left: 15%;
  }

  .player-2-hand,
  .player-3-hand,
  .player-4-hand {
    display: none;
  }

  #player-1-label,
  #player-2-label,
  #player-3-label,
  #player-4-label {
    z-index: 100;
  }

  .game #player-1-label {
    bottom: 29%;
    left: 46%;
  }

  .game #player-2-label {
    top: 40%;
    left: 2%;
  }

  .game #player-3-label {
    top: 15%;
    left: 42%;
  }

  .game #player-4-label {
    right: 3%;
    top: 40%;
  }

  .game .player-1-prompt {
    width: 70%;
    left: 15%;
    top: 90%;
  }

  .game .player-1-card {
    bottom: 0%;
    left: 35%;
  }

  .game .player-1-card .leadingCard {
    left: -0.3rem;
    top: -0.3rem;
  }

  .game .player-2-card {
    left: 10%;
  }

  .game .player-2-card .leadingCard {
    left: -0.3rem;
    top: -0.3rem;
  }

  .game .player-3-card {
    top: 2%;
    left: 35%;
  }

  .game .player-3-card .leadingCard {
    left: -0.3rem;
    top: -0.3rem;
  }

  .game .player-4-card {
    right: 10%;
  }

  .game .player-4-card .leadingCard {
    left: -0.3rem;
    top: -0.3rem;
  }

  .game .player_1_is_dealer,
  .game .player_2_is_dealer,
  .game .player_3_is_dealer,
  .game .player_4_is_dealer {
    font-size: 0.9rem;
  }

  .game .player_1_is_dealer {
    top: 67%;
    left: 59%;
  }
  .game .player_2_is_dealer {
    top: 36%;
    left: 4%;
  }
  .game .player_3_is_dealer {
    top: 15%;
    left: 25%;
  }
  .game .player_4_is_dealer {
    top: 36%;
    left: 81%;
  }

  .game .endgame {
    left: 22%;
  }

  .game .startNewGame {
    left: 30%;
  }
}
